#!/bin/bash

# java -Dlog4j.configuration=file:"./log.properties"  -jar cargo.jar \
# --source-url=jdbc:oracle:thin:@localhost:49161/xe \
# --source-username cargo \
# --source-password cargo \
# --source-table SOURCE_TABLE \
# --target-url jdbc:oracle:thin:@localhost:49161/xe \
# --target-username cargo \
# --target-password cargo \
# --target-table TARGET_TABLE_2 \
# --truncate
